<template>
    <div>
        <div id="cart-container">
            <p class="goods-title">购物车</p>
            <table class="goods-list" border="1" cellpadding="2" cellspacing="0">
                <tr>
                    <th>
                        <input type="checkbox" v-model="isAllSelect" @click="handleCheckeAll">
                    </th>
                    <th>课程名</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>总价</th>
                </tr>
                <tr v-for="(item, index) in cart" :key="index" class="goods-item" :class="{active:item.active}">
                    <td style="text-align:center;">
                        <input type="checkbox" v-model="item.active" @change="localSave">
                    </td>
                    <td class="align-left">{{item.text}}</td>
                    <td>&yen;{{item.price}}</td>
                    <td style="text-align:center;">
                        <button @click="minus(index)">-</button>
                        <span class="goods-count">{{item.count}}</span>
                        <button @click="add(index)">+</button>
                    </td>
                    <td>&yen;{{item.price * item.count}}</td>
                </tr>
                <tr class="total-statics">
                    <td colspan="5" class="align-left">已选择: {{toitalSelectCount}}/{{totalCount}} 件, 共计
                        &yen;{{totalPrice}} {{computeTotal}}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import consts from '../common/consts.js';
    import _mm from '../common/mm.js';
    export default {
        data() {
            return {
                isAllSelect      : false,
                totalCount       : 0,
                toitalSelectCount: 0,
                totalPrice       : 0,
                cart             : _mm.localOper(consts.local_cart) || []

            }
        },
        computed: {
            computeTotal() {
                if(this.cart.length < 1){
                    return '';
                }
                let mark                   = true;
                    this.toitalSelectCount = 0;
                    this.totalCount        = 0;
                    this.totalPrice        = 0;
                this.cart.map((item) => {
                    this.totalCount += item.count;
                    if (item.active) {
                        this.toitalSelectCount += item.count;
                        this.totalPrice        += item.price * item.count;
                    } else {
                        mark = false;
                    }
                })
                if (mark) {
                    this.isAllSelect = true;
                } else {
                    this.isAllSelect = false;
                }
                return '';
            }
        },
        created(){
           this.$bus.$on(consts.event_add_cart,(good)=>{
               this.addCart(good)
           })
        },
        methods: {
            minus(i) {
                const count = this.cart[i].count;
                if (count > 1) {
                    this.cart[i].count  -= 1;
                    this.cart[i].active  = true;
                } else {
                    this.remove(i)
                }

                this.localSave();
            },
            add(i) {
                this.cart[i].count  += 1;
                this.cart[i].active  = true;
                this.localSave();
            },
            remove(i) {
                let result = confirm("确定删除吗?");
                if (result) {
                    this.cart.splice(i, 1);
                }
                this.localSave();
                return result;
     
            },
            handleCheckeAll() {
                if (this.isAllSelect) {
                    this.cart.forEach(item => {
                        item.active = false;
                    });
                } else {
                    this.cart.forEach(item => {
                        item.active = true;
                    });
                }
                this.localSave();
            },
            addCart(good) {
                console.log(good)
                const findResult = this.cart.find(item => item.id === good.id)
                if (findResult) {
                    findResult.count += 1;
                } else {
                    this.cart.push({
                        ...good,
                        count : 1,
                        active: true
                    })
                }
                _mm.localOper(consts.local_cart, this.cart)
            },
            localSave() {
                _mm.localOper(consts.local_cart, this.cart)
            }
        }
    }
</script>
<style lang="scss" scoped>
    .goods-list {
        border-collapse: collapse;
        width          : 100%;
        border         : 1px solid #ddd;

        th {
            border   : 1px solid #ddd;
            font-size: 12px;
        }

        td {
            font-size: 14px;
        }

        td:not(.align-left) {
            text-align: center;
        }

        .goods-item {
            &:not(.active) {
                color: #aaa;
            }

            .goods-count {
                text-align: center;
                width     : 50px;
                display   : inline-block
            }
        }

        .total-statics {
            td {
                padding-left: 8px;
            }

            height: 40px;
        }
    }
</style>