<template>
    <div id="goodsContainer">
        <p>添加商品</p>
        <div>
            <input type="text" v-model="addInputData">
            <span class="btn btn-red add-goods" @click="handleAddGood()">
                添加到商品列表</span>
        </div>
        <p>品名: {{this.addInputData}}</p>
        <div class="goodsItem" v-for="(item, index) in goodsData" :key="index">
            <span>{{item.text}}</span>
            <span>&yen;{{item.price}}</span>
            <div class="button-wrap">
                <span class="btn btn-red button-item" @click="handleAddCart(index)">加入购物车</span>
                <span class="btn btn-red button-item" @click="handleDelete(index)">删除</span>
            </div>
        </div>
    </div>
</template>

<script>
    import _mm from '../common/mm.js';
    import consts from '../common/consts.js';
    import axios from 'axios';
    export default {
        data() {
            return {
                name        : "商品目录",
                addInputData: '',
                goodsData   : _mm.localOper(consts.local_goods) || this.getGoodsData(),
            }
        },
        methods: {
            // 添加到商品列表
            handleAddGood() {
                if (!this.addInputData) return;
                const goods    = this.goodsData;
                const goodsLen = goods.length;
                this.goodsData.push({
                    id: goods.length > 0 ? goods[goodsLen - 1].id + 1 : 0,
                    text : this.addInputData,
                    price: 1000
                })
                _mm.localOper(consts.local_goods, this.goodsData)
                this.addInputData = ''
            },
            // 添加到购物车
            handleAddCart(i) {
                const good = this.goodsData[i];
                // 添加购物车事件
                this.$bus.$emit(consts.event_add_cart, good);
            },
            // 从商品列表中删除
            handleDelete(index) {
                if (confirm('确定删除吗')) {
                    this.goodsData.splice(index, 1)
                    _mm.localOper(consts.local_goods, this.goodsData)
                }
            },
             async getGoodsData(){
                try {
                    const res            = await axios.get('/api/goods');
                          this.goodsData = res.data.list;
                } catch (error) {
                    console.log(error);
                }
            }
        },
       
    }
</script>

<style lang="scss" scoped>
    #goodsContainer {
        width     : 100%;
        box-sizing: border-box;
    }

    .goodsItem {
        margin-top: -1px;
        position  : relative;
        padding   : 5px 10px;
        border    : 1px solid #f58a6a;
        font-size : 14px;

        &>span:nth-of-type(1) {
            display  : inline-block;
            min-width: 150px;
        }
    }

    .btn {
        padding: 5px 10px;
    }

    .btn-red {
        $baseColor: #f15a2c;
        background: $baseColor;

        &:hover {
            background: lighten($baseColor, $amount:5%);
        }

        &:active {
            background: darken($color:$baseColor, $amount:10%);
        }

        user-select: none;

        color     : #fff;
        cursor    : pointer;
        box-sizing: border-box;
    }

    .add-goods {
        font-size  : 12px;
        margin-left: 10px;
    }

    .button-wrap {
        position: absolute;
        top     : 0;
        right   : 0;

        &::after {
            content   : ' ';
            visibility: hidden;
            clear     : both;
            display   : block
        }
    }

    .button-item {
        float      : right;
        margin-left: 2px;
    }
</style>
2