<template>
  <div id="app">
    <div class="container">
      <div class="container-left">
        <goods/>
        <cart />
      </div>
      <div class="container-right">

      </div>
    </div>
  </div>
</template>

<script>
  import './common/global.scss';
  import consts from './common/consts.js';
  import Cart from './components/cart.vue';
  import mm from './common/mm.js';
  import Goods from './components/goods.vue';
  import Container from './ui/container.vue';
  export default {
    name: 'app',
    components: {
      cart: Cart,
      goods: Goods
    },
    data() {
      return {
      }
    },

  }
</script>

<style lang="scss" scoped>
 .container {
    width: 900px;
    margin: 0 auto;
  }

  .container-left {
    width: 60%;
  }
</style>
